{% extends 'base.html' %}

{% block title %}Home - SOS Earth{% endblock %}


{% block content %}
    <!-- Background image -->
    <div id="worlddiv" style="width: 100%; height: 500px;"></div>
    <!-- Background image -->

    <!-- Carousel wrapper -->
    <div id="carouselDarkVariant" class="carousel slide carousel-fade carousel-dark bg-dark text-white px-5"
         data-mdb-ride="carousel"
         data-mdb-carousel-init>
        <!-- Inner -->
        <h6 class="fs-4 fw-lighter font-monospace text-uppercase px-3 pt-3">Vital Sings</h6>
        <div class="carousel-inner ">
            <!-- Single item -->
            <div class="carousel-item active">
                <div class="row px-3  py-1 pb-5 ">
                    <div class="col h-100">
                        <hr>
                        <h5 class="dashed-underline ">Arctic Sea Ice Minimum Extent</h5>
                        <div>
                            <h6 class="d-inline big-number align-baseline">
                                <i class="fa-sharp fa-regular fa-arrow-down text-danger"></i> 12.2
                            </h6>
                            <span class="d-inline small-text ms-1">percent per decade since 1979</span>
                        </div>
                    </div>
                    <div class="col h-100">
                        <hr>
                        <h5 class="dashed-underline ">Arctic Sea Ice Minimum Extent</h5>
                        <div>
                            <h6 class="d-inline big-number align-baseline">
                                <i class="fa-sharp fa-regular fa-arrow-down text-danger"></i> 12.2
                            </h6>
                            <span class="d-inline small-text ms-1">percent per decade since 1979</span>
                        </div>
                    </div>
                    <div class="col h-100">
                        <hr>
                        <h5 class="dashed-underline ">Arctic Sea Ice Minimum Extent</h5>
                        <div>
                            <h6 class="d-inline big-number align-baseline">
                                <i class="fa-sharp fa-regular fa-arrow-down text-danger"></i> 12.2
                            </h6>
                            <span class="d-inline small-text ms-1">percent per decade since 1979</span>
                        </div>
                    </div>
                    <div class="col h-100">
                        <hr>
                        <h5 class="dashed-underline ">Arctic Sea Ice Minimum Extent</h5>
                        <div>
                            <h6 class="d-inline big-number align-baseline">
                                <i class="fa-sharp fa-regular fa-arrow-down text-danger"></i> 12.2
                            </h6>
                            <span class="d-inline small-text ms-1">percent per decade since 1979</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <div class="row px-3 py-1 pb-5 ">
                    <div class="col h-100">
                        <hr>
                        <h5 class="dashed-underline ">Arctic Sea Ice Minimum Extent</h5>
                        <div>
                            <h6 class="d-inline big-number align-baseline">
                                <i class="fa-sharp fa-regular fa-arrow-down text-danger"></i> 12.2
                            </h6>
                            <span class="d-inline small-text ms-1">percent per decade since 1979</span>
                        </div>
                    </div>
                    <div class="col h-100">
                        <hr>
                        <h5 class="dashed-underline ">Arctic Sea Ice Minimum Extent</h5>
                        <div>
                            <h6 class="d-inline big-number align-baseline">
                                <i class="fa-sharp fa-regular fa-arrow-down text-danger"></i> 12.2
                            </h6>
                            <span class="d-inline small-text ms-1">percent per decade since 1979</span>
                        </div>
                    </div>
                    <div class="col h-100">
                        <hr>
                        <h5 class="dashed-underline ">Arctic Sea Ice Minimum Extent</h5>
                        <div>
                            <h6 class="d-inline big-number align-baseline">
                                <i class="fa-sharp fa-regular fa-arrow-down text-danger"></i> 12.2
                            </h6>
                            <span class="d-inline small-text ms-1">percent per decade since 1979</span>
                        </div>
                    </div>
                    <div class="col h-100">
                        <hr>
                        <h5 class="dashed-underline ">Arctic Sea Ice Minimum Extent</h5>
                        <div>
                            <h6 class="d-inline big-number align-baseline">
                                <i class="fa-sharp fa-regular fa-arrow-down text-danger"></i> 12.2
                            </h6>
                            <span class="d-inline small-text ms-1">percent per decade since 1979</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <div class="row px-3 py-1 pb-5">
                    <div class="col h-100">
                        <hr>
                        <h5 class="dashed-underline ">Arctic Sea Ice Minimum Extent</h5>
                        <div>
                            <h6 class="d-inline big-number align-baseline">
                                <i class="fa-sharp fa-regular fa-arrow-down text-danger"></i> 12.2
                            </h6>
                            <span class="d-inline small-text ms-1">percent per decade since 1979</span>
                        </div>
                    </div>
                    <div class="col h-100">
                        <hr>
                        <h5 class="dashed-underline ">Arctic Sea Ice Minimum Extent</h5>
                        <div>
                            <h6 class="d-inline big-number align-baseline">
                                <i class="fa-sharp fa-regular fa-arrow-down text-danger"></i> 12.2
                            </h6>
                            <span class="d-inline small-text ms-1">percent per decade since 1979</span>
                        </div>
                    </div>
                    <div class="col h-100">
                        <hr>
                        <h5 class="dashed-underline ">Arctic Sea Ice Minimum Extent</h5>
                        <div>
                            <h6 class="d-inline big-number align-baseline">
                                <i class="fa-sharp fa-regular fa-arrow-down text-danger"></i> 12.2
                            </h6>
                            <span class="d-inline small-text ms-1">percent per decade since 1979</span>
                        </div>
                    </div>
                    <div class="col h-100">
                        <hr>
                        <h5 class="dashed-underline ">Arctic Sea Ice Minimum Extent</h5>
                        <div>
                            <h6 class="d-inline big-number align-baseline">
                                <i class="fa-sharp fa-regular fa-arrow-down text-danger"></i> 12.2
                            </h6>
                            <span class="d-inline small-text ms-1">percent per decade since 1979</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner -->

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant"
                data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant"
                data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Carousel wrapper -->
    <style>
        .big-number {
            font-size: 2rem;
        }

        .small-text {
            font-size: 0.8rem;
            position: relative;
            top: -0.5rem; /* Adjust the value to control the elevation */
        }

        .dashed-underline {
            text-decoration: underline;
            text-decoration-style: dashed;
        }

        .carousel-control-prev,
        .carousel-control-next {
            z-index: 10;
            top: 50%; /* Vertically center the controls */
            transform: translateY(-50%);
            width: 5%; /* Adjust the width to control the click area */
        }

        #worlddiv {
            background-image: radial-gradient(#06016b, black);
            color: #ffffff;
            font-family: Trebuchet MS, serif;
            flex-direction: row
        }

    </style>
<script src="{{ url_for('static', filename='js/world.js') }}"></script>
{% endblock %}
