{% extends 'base.html' %}

{% block title %}Home - SOS Earth{% endblock %}
<!-- mettere solo i grafici con query difficili e poi mettere gli altri maschere per scegliere -->

{% block content %}
    <!-- Background image -->
    <div id="worlddiv" style="width: 100%; height: 500px;"></div>
    <!-- Background image -->

    <!-- Carousel wrapper -->
    <div id="carouselDarkVariant" class="carousel slide carousel-fade carousel-dark bg-dark text-white px-5"
         data-mdb-ride="carousel"
         data-mdb-carousel-init>
        <!-- Inner -->
        <h6 class="fs-4 fw-lighter font-monospace text-uppercase px-3 pt-3">Vital Signs</h6>
        <div class="carousel-inner" id="carousel-inner">
            <!-- Content will be populated by JavaScript -->
        </div>
        <!-- Inner -->

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant"
                data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant"
                data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Introduction and Objectives -->
    <section class="container mt-5">
        <h2 class="text-center">Welcome to SOS Earth</h2>
        <p class="lead text-center">Monitoring and analyzing vital signs of our planet.</p>
        <p class="text-center">Our goal is to provide clear, accessible, and actionable information about the Earth's
            environment. Explore the latest data on climate change, pollution, and more.</p>
    </section>

    <!-- Latest News or Updates Section -->
    <section class="container mt-5">
        <h3 class="text-center">Latest News & Updates</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="news-item">
                    <h5>Global Climate Report</h5>
                    <p>The latest global climate report indicates a significant rise in global temperatures...</p>
                    <a href="#">Read more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-item">
                    <h5>Renewable Energy Trends</h5>
                    <p>Renewable energy adoption is increasing worldwide as countries commit to reducing
                        emissions...</p>
                    <a href="#">Read more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-item">
                    <h5>Conservation Efforts</h5>
                    <p>New conservation efforts aim to protect endangered species and restore habitats...</p>
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
    </section>

    <section class="container mt-5">
        <h3 class="text-center">Interactive Queries</h3>
        <form id="query-form">
            <div class="form-group">
                <label for="indicator">Select Indicator:</label>
                <select class="form-control" id="indicator" name="indicator">
                    <!-- Options will be populated by JavaScript -->
                </select>
            </div>
            <div class="form-group mt-3">
                <label for="query-type">Select Query Type:</label>
                <select class="form-control" id="query-type" name="query-type">
                    <option value="top_10">Top 10 Countries</option>
                    <option value="bottom_10">Bottom 10 Countries</option>
                    <option value="avg_by_region">Average Value by Region</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Execute Query</button>
        </form>
    </section>

    <section class="container mt-5">
        <h3 class="text-center">Query Results</h3>
        <div id="query-results" class="table-responsive">
            <!-- I risultati della query verranno visualizzati qui -->
            <canvas id="queryChart" width="400" height="200"></canvas>
        </div>
    </section>
    <div class="container">
        <div class="about-header py-5 text-center">
            <h1>About Us</h1>
            <p>Learn more about the people behind SOS Earth and our mission.</p>
        </div>

        <div class="row">
            <div class="col-md-6 about-section text-center">
                <img src="{{ url_for('static', filename='img/no_img.jpg') }}" alt="Raffaella Spagnuolo" class="rounded">
                <div class="about-divider"></div>
                <h2 class="py-3">Raffaella Spagnuolo</h2>
                <p class="about-role">Co-founder & Environmental Scientist</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac arcu sit amet justo sodales auctor.
                    Mauris vitae lorem nec mi aliquam luctus.</p>
                <p>Suspendisse potenti. Praesent scelerisque velit sit amet dolor sollicitudin, non hendrerit erat
                    hendrerit.</p>
            </div>
            <div class="col-md-6 about-section text-center">
                <img src="{{ url_for('static', filename='img/no_img.jpg') }}" alt="Alessia Ture" class="rounded">
                <div class="about-divider"></div>
                <h2 class="py-3">Alessia Ture</h2>
                <p class="about-role">Co-founder & Data Analyst</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac arcu sit amet justo sodales auctor.
                    Mauris vitae lorem nec mi aliquam luctus.</p>
                <p>Suspendisse potenti. Praesent scelerisque velit sit amet dolor sollicitudin, non hendrerit erat
                    hendrerit.</p>
            </div>
        </div>
    </div>
    <style>
        body {
            background-color: #fdfffc;
        }

        .big-number {
            font-size: 2rem;
        }

        .small-text {
            font-size: 0.8rem;
            position: relative;
            top: -0.5rem;
        }

        .dashed-underline {
            text-decoration: underline;
            text-decoration-style: dashed;
        }

        .carousel-control-prev,
        .carousel-control-next {
            z-index: 10;
            top: 50%;
            transform: translateY(-50%);
            width: 5%;
        }

        #worlddiv {
            background-color: #38a3a5;
            color: #ffffff;
            font-family: Trebuchet MS, serif;
        }

        .news-item {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        .news-item h5 {
            margin-bottom: 10px;
        }

        .news-item p {
            margin-bottom: 10px;
        }

        .news-item a {
            text-decoration: none;
            color: #E76F51;
        }
    </style>
    <script src="{{ url_for('static', filename='js/world.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.1.1/dist/chartjs-plugin-zoom.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch('/vital-signs')
                .then(response => response.json())
                .then(data => {
                    const carouselInner = document.getElementById('carousel-inner');
                    carouselInner.innerHTML = '';  // Clear any existing content

                    for (let i = 0; i < data.length; i += 4) {
                        const slideItems = data.slice(i, i + 4);
                        const activeClass = i === 0 ? 'active' : '';
                        const carouselItem = `
                        <div class="carousel-item ${activeClass}">
                            <div class="row px-3 py-1 pb-5">
                                ${slideItems.map(item => `
                                    <div class="col h-100">
                                        <hr>
                                        <h5 class="dashed-underline ">${item.title}</h5>
                                        <div>
                                            <h6 class="d-inline big-number align-baseline">
                                                <i class="fa-sharp fa-regular fa-arrow-${item.trend === 'down' ? 'down text-danger' : 'up text-success'}"></i> ${parseFloat(item.value).toFixed(2)}
                                            </h6>
                                            <span class="d-inline small-text ms-1">${item.description}</span>
                                        </div>
                                    </div>
                                `).join('')}
                            </div>
                        </div>`;
                        carouselInner.insertAdjacentHTML('beforeend', carouselItem);
                    }
                })
                .catch(error => console.error('Error fetching data:', error));
        });

        fetch('/get_indicators')
            .then(response => response.json())
            .then(data => {
                const indicatorSelect = document.getElementById('indicator');
                indicatorSelect.innerHTML = ''; // Clear any existing options

                data.forEach(indicator => {
                    const option = document.createElement('option');
                    option.value = encodeURIComponent(indicator);
                    option.textContent = indicator;
                    indicatorSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching indicators:', error));

        document.getElementById('query-form').addEventListener('submit', function (event) {
            event.preventDefault();

            const indicator = document.getElementById('indicator').value;
            const queryType = document.getElementById('query-type').value;

            let queryUrl = `/api/query?indicator=${indicator}&queryType=${queryType}`;

            fetch(queryUrl)
                .then(response => response.json())
                .then(data => {
                    let resultsDiv = document.getElementById('query-results');
                    resultsDiv.innerHTML = ''; // Clear any existing content

                    if (data.error) {
                        resultsDiv.innerHTML = `<div class="alert alert-danger">${data.error}</div>`;
                    } else {
                        // Remove old canvas if it exists
                        let oldCanvas = document.getElementById('queryChart');
                        if (oldCanvas) {
                            oldCanvas.remove();
                        }

                        // Create new canvas
                        let canvas = document.createElement('canvas');
                        canvas.id = 'queryChart';
                        canvas.width = 400;
                        canvas.height = 200;
                        resultsDiv.appendChild(canvas);

                        // Extract the data for the chart
                        const labels = data.map(row => queryType === 'yearly_trend' ? row.Year : row.Country);
                        const values = data.map(row => parseFloat(row.Value).toFixed(2));

                        // Create a new chart
                        const ctx = canvas.getContext('2d');
                        window.queryChartInstance = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Value',
                                    data: values,
                                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    }
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        });

    </script>

{% endblock %}
