{% extends 'base.html' %}

{% block title %}Indicators - SOS Earth{% endblock %}
{% block content %}
    <style>
        .main-content {
            margin-top: 50px;
        }

        .indicator-list-wrapper {
            position: relative;
        }

        .indicator-list {
            display: flex;
            overflow-x: auto;
            white-space: nowrap;
            margin: 0 -20px;
            padding: 0 20px;
        }

        .indicator-list button {
            display: inline-block;
            margin-right: 10px;
        }

        .scroll-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(255, 255, 255, 0.7);
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
            z-index: 1;
        }

        .scroll-button.left {
            left: 0;
        }

        .scroll-button.right {
            right: 0;
        }

        .chart-container {
            position: relative;
            height: 500px;
            margin-top: 20px;
        }

        .metadata-section {
            margin-top: 20px;
            padding: 15px;
            background-color: #c7f9cc;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .metadata-section h3 {
            margin-top: 0;
        }

        .metadata-section p {
            margin: 5px 0;
        }

        .form-row {
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-end;
        }

    </style>

    <div class="container main-content">
        <h1 class="text-center orbitron mb-4 sos">SOS Earth - Indicators</h1>
        <div class="indicator-list-wrapper">
            <button class="scroll-button left">&lt;</button>
            <div class="indicator-list mt-1">
                <!-- Lista degli indicatori popolata da JavaScript -->
            </div>
            <button class="scroll-button right">&gt;</button>
        </div>
        <div id="country-select-container" style="display: none;">
            <form id="data-form" class="form-row justify-content-center mt-3">
                <div class="form-group col-6">
                    <label for="country-name">Select Country:</label>
                    <select class="form-control" id="country-name" required>
                        <!-- Options will be populated here by JavaScript -->
                    </select>
                </div>
                <div class=" col-1 mx-3"></div>
                <div class="form-group col-2 align-self-end">
                    <button type="submit" class="btn btn-primary  btn-block orbitron">Get Data</button>
                </div>
            </form>
        </div>

        <div id="error-message" class="alert alert-danger mt-5" role="alert" style="display: none;"></div>

        <div class="row">
            <div class="col-12 col-md-6 align-self-center">
                <div class="metadata-section ">
                    <h3 class="orbitron">Nome Indicatore</h3>
                    <p><strong>Description:</strong> <span id="metadata-description"></span></p>
                    <p><strong>Source:</strong> <span id="metadata-source"></span></p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="chart-container">
                    <canvas id="chartdiv" style="max-width: 100%; max-height: 100%;"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Resources -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.1.1/dist/chartjs-plugin-zoom.min.js"></script>

    <!-- Chart code -->
    <script>
        let myChart; // Define a global variable to hold the chart instance
        let xAxisLabel = 'Year';
        let yAxisLabel = 'Value';
        let currentCountryName = 'Colombia'; // Default country

        function displayError(errorMessage) {
            const errorDiv = document.getElementById('error-message');
            errorDiv.textContent = errorMessage;
            errorDiv.style.display = 'block';

            const metadataSection = document.querySelector('.metadata-section');
            const chartContainer = document.querySelector('.chart-container');

            metadataSection.style.display = 'none';
            chartContainer.style.display = 'none';
        }

        function clearError() {
            const errorDiv = document.getElementById('error-message');
            errorDiv.style.display = 'none';
            errorDiv.textContent = '';

            const metadataSection = document.querySelector('.metadata-section');
            const chartContainer = document.querySelector('.chart-container');

            metadataSection.style.display = 'block';
            chartContainer.style.display = 'block';
        }

        document.addEventListener('DOMContentLoaded', function () {
            fetch('/get_indicators')
                .then(response => response.json())
                .then(indicators => {
                    const indicatorList = document.querySelector('.indicator-list');
                    indicators.forEach(indicator => {
                        const button = document.createElement('button');
                        button.className = 'btn btn-secondary orbitron';
                        button.textContent = indicator;
                        button.addEventListener('click', function () {
                            currentIndicatorName = indicator;
                            fetchDataForIndicator(indicator);
                        });
                        indicatorList.appendChild(button);
                    });

                    // Set the first button as active and trigger its click event for default display
                    if (indicators.length > 0) {
                        const firstButton = indicatorList.querySelector('button');
                        if (firstButton) {
                            firstButton.classList.add('active');
                            firstButton.click();
                        }
                    }
                });

            fetch('/get_countries')
                .then(response => response.json())
                .then(countries => {
                    const countrySelect = document.getElementById('country-name');
                    countries.forEach(country => {
                        const option = document.createElement('option');
                        option.value = country["Country Name"];
                        option.textContent = country["Country Name"];
                        countrySelect.appendChild(option);
                    });

                    // Set the default country and fetch data
                    countrySelect.value = currentCountryName;
                    fetchDataForIndicator(currentIndicatorName);
                });

            document.getElementById('data-form').addEventListener('submit', function (event) {
                event.preventDefault();
                currentCountryName = document.getElementById('country-name').value;
                const indicatorName = document.querySelector('.indicator-list .btn.active').textContent;

                fetch(`/get_data_indicator?country_name=${encodeURIComponent(currentCountryName)}&indicator_name=${encodeURIComponent(indicatorName)}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            displayError(data.error);
                        } else {
                            clearError()
                            createChart(data);
                        }
                    });

                fetch(`/get_metadata?indicator_name=${encodeURIComponent(indicatorName)}`)
                    .then(response => response.json())
                    .then(metadata => {
                        displayMetadata(metadata);
                    });
            });

            function fetchDataForIndicator(indicatorName) {
                document.getElementById('country-select-container').style.display = 'block';
                fetch(`/get_labels?indicator_name=${encodeURIComponent(indicatorName)}`)
                    .then(response => response.json())
                    .then(labels => {
                        xAxisLabel = labels.x;
                        yAxisLabel = labels.y;
                    })
                    .then(() => {
                        return fetch(`/get_data_indicator?country_name=${encodeURIComponent(document.getElementById('country-name').value)}&indicator_name=${encodeURIComponent(indicatorName)}`);
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            displayError(data.error);

                        } else {
                            createChart(data);
                            clearError();
                        }
                    });

                fetch(`/get_metadata?indicator_name=${encodeURIComponent(indicatorName)}`)
                    .then(response => response.json())
                    .then(metadata => {
                        displayMetadata(metadata);
                    });
            }

            function createChart(data) {
                const ctx = document.getElementById('chartdiv').getContext('2d');

                // Destroy the existing chart instance if it exists
                if (myChart) {
                    myChart.destroy();
                    ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height); // Clear the canvas
                }

                const formattedData = {
                    labels: data.map(item => item.Year),
                    datasets: [{
                        label: yAxisLabel,
                        data: data.map(item => item.Value),
                        backgroundColor: 'rgba(255,209,102,0.5)',
                        borderColor: 'rgba(255, 209, 102,1)',
                        borderWidth: 1
                    }]
                };

                const config = {
                    type: 'line',
                    data: formattedData,
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            x: {
                                title: {
                                    display: true,
                                    text: xAxisLabel
                                }
                            },
                            y: {
                                title: {
                                    display: true,
                                    text: yAxisLabel
                                }
                            }
                        },
                        plugins: {
                            tooltip: {
                                callbacks: {
                                    label: function (context) {
                                        return `${context.parsed.y}`;
                                    }
                                }
                            },

                        }
                    }
                };

                // Create a new chart instance and assign it to the global variable
                myChart = new Chart(ctx, config);
            }

            function displayMetadata(metadata) {
                document.querySelector('.metadata-section h3').textContent = currentIndicatorName;
                document.getElementById('metadata-description').textContent = metadata.SOURCE_NOTE || 'No description available';
                document.getElementById('metadata-source').textContent = metadata.SOURCE_ORGANIZATION || 'No source available';
            }


            // Scrolling buttons functionality
            document.querySelector('.scroll-button.left').addEventListener('click', function () {
                document.querySelector('.indicator-list').scrollBy({
                    left: -100,
                    behavior: 'smooth'
                });
            });

            document.querySelector('.scroll-button.right').addEventListener('click', function () {
                document.querySelector('.indicator-list').scrollBy({
                    left: 100,
                    behavior: 'smooth'
                });
            });
        });
    </script>
{% endblock %}
