{% extends 'base.html' %}

{% block title %}Problems Earth - SOS Earth{% endblock %}

{% block content %}
    <!-- Background image -->
    <div class="p-5 text-center bg-image"
         style="background-image: url('{{ url_for('static', filename='img/background-earth.png') }}'); height: 350px; position: relative;">
        <div class="mask" style="background-color: rgba(9,130,192,0.6); height: 100%;">
            <div class="d-flex justify-content-center align-items-center h-100 mt-5">
                <div class="text-white">
                    <h6 class="mx-5">The Earth Science Data Systems (ESDS) Program provides full and open access to <br>
                        NASA'S collection of Earth science data for understanding and protecting our home planet. </h6>
                    <a data-mdb-ripple-init class="btn btn-outline-light btn-lg mt-5" href="#!" role="button">Call to
                        action</a>
                </div>
            </div>
        </div>

        <!-- Image icons positioned in a semicircle -->
        <img src="{{ url_for('static', filename='img/biosphere-icon.png') }}" alt="Biosphere" class="icon icon-1"
             data-target="biosphere">
        <img src="{{ url_for('static', filename='img/oceans-icon.png') }}" alt="Oceans" class="icon icon-2"
             data-target="oceans">
        <img src="{{ url_for('static', filename='img/atmosphere-icon.png') }}" alt="Atmosphere" class="icon icon-3"
             data-target="atmosphere">
        <img src="{{ url_for('static', filename='img/cryosphere-icon.png') }}" alt="Cryosphere" class="icon icon-4"
             data-target="cryosphere">
        <img src="{{ url_for('static', filename='img/human-dimensions-icon.png') }}" alt="Human Dimensions"
             class="icon icon-5" data-target="human-dimensions">
        <img src="{{ url_for('static', filename='img/land-surface-icon.png') }}" alt="Land Surface" class="icon icon-6"
             data-target="land-surface">
        <img src="{{ url_for('static', filename='img/sun-earth-interactions-icon.png') }}" alt="Sun-Earth Interactions"
             class="icon icon-7" data-target="sun-earth-interactions">
        <img src="{{ url_for('static', filename='img/solid-earth-icon.png') }}" alt="Solid Earth" class="icon icon-8"
             data-target="solid-earth">
        <img src="{{ url_for('static', filename='img/terrestrial-hydrosphere-icon.png') }}"
             alt="Terrestrial Hydrosphere" class="icon icon-9" data-target="terrestrial-hydrosphere">
    </div>

    <!-- Card content -->
    <div class="card text-center shadow-lg rounded" id="infoCard" style="display: none;">
        <div class="card-header">
            <ul id="navTabs" class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a id="tab1" class="nav-link active" aria-current="true" href="#!">Evidence</a>
                </li>
                <li class="nav-item">
                    <a id="tab2" class="nav-link" href="#!">Causes</a>
                </li>
                <li class="nav-item">
                    <a id="tab3" class="nav-link">Effects</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div id="tabContent">
                <div id="content1" class="tab-content active">
                    <h3>Evidence</h3>
                    <p id="evidence-content"></p>
                </div>
                <div id="content2" class="tab-content" style="display:none;">
                    <h3>Causes</h3>
                    <p id="causes-content"></p>
                </div>
                <div id="content3" class="tab-content" style="display:none;">
                    <h3>Effects</h3>
                    <p id="effects-content"></p>
                </div>
            </div>
        </div>
    </div>

    <script>
        const icons = document.querySelectorAll('.icon');
        const infoCard = document.getElementById('infoCard');
        const tabContents = document.querySelectorAll('.tab-content');

        const contentData = {
            "biosphere": {
                "evidence": "Biosphere Evidence: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.",
                "causes": "Biosphere Causes: Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit.",
                "effects": "Biosphere Effects: Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla."
            },
            "oceans": {
                "evidence": "Oceans Evidence: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum.",
                "causes": "Oceans Causes: Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.",
                "effects": "Oceans Effects: Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur."
            },
            "atmosphere": {
                "evidence": "Atmosphere Evidence: Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.",
                "causes": "Atmosphere Causes: Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.",
                "effects": "Atmosphere Effects: Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur."
            },
            "cryosphere": {
                "evidence": "Cryosphere Evidence: Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui.",
                "causes": "Cryosphere Causes: Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue.",
                "effects": "Cryosphere Effects: Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet."
            },
            "human-dimensions": {
                "evidence": "Human Dimensions Evidence: Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.",
                "causes": "Human Dimensions Causes: Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.",
                "effects": "Human Dimensions Effects: Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus."
            },
            "land-surface": {
                "evidence": "Land Surface Evidence: Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.",
                "causes": "Land Surface Causes: Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.",
                "effects": "Land Surface Effects: Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis."
            },
            "sun-earth-interactions": {
                "evidence": "Sun-Earth Interactions Evidence: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum.",
                "causes": "Sun-Earth Interactions Causes: Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.",
                "effects": "Sun-Earth Interactions Effects: Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet."
            },
            "solid-earth": {
                "evidence": "Solid Earth Evidence: Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.",
                "causes": "Solid Earth Causes: Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.",
                "effects": "Solid Earth Effects: Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit."
            },
            "terrestrial-hydrosphere": {
                "evidence": "Terrestrial Hydrosphere Evidence: Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus.",
                "causes": "Terrestrial Hydrosphere Causes: Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.",
                "effects": "Terrestrial Hydrosphere Effects: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis."
            }
        };

        icons.forEach(icon => {
            icon.addEventListener('click', function () {
                // Nascondi tutti i contenuti delle schede
                tabContents.forEach(content => content.style.display = 'none');

                // Mostra la scheda delle informazioni
                infoCard.style.display = 'block';

                // Ottieni il target del contenuto
                const targetContent = this.getAttribute('data-target');
                const data = contentData[targetContent];

                // Aggiorna il contenuto delle schede
                document.getElementById('evidence-content').innerText = data.evidence;
                document.getElementById('causes-content').innerText = data.causes;
                document.getElementById('effects-content').innerText = data.effects;

                // Mostra la scheda di "Evidence" di default
                document.getElementById('content1').style.display = 'block';

                // Aggiorna la navigazione delle schede
                document.querySelectorAll('.card .nav-link').forEach(link => {
                    link.classList.remove('active');
                });
                document.getElementById('tab1').classList.add('active');
            });
        });

        // Navigazione delle schede
        document.querySelectorAll('.card .nav-link').forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault(); // Previene il comportamento predefinito del link

                // Rimuovi la classe 'active' da tutti i link delle schede
                document.querySelectorAll('.card .nav-link').forEach(link => link.classList.remove('active'));

                // Aggiungi la classe 'active' al link cliccato
                this.classList.add('active');

                // Nascondi tutti i contenuti delle schede
                tabContents.forEach(content => content.style.display = 'none');

                // Mostra il contenuto relativo alla scheda cliccata
                const tabId = this.getAttribute('id').replace('tab', 'content');
                document.getElementById(tabId).style.display = 'block';
            });
        });
    </script>

    <style>
        .icon {
            position: absolute;
            width: 70px;
            height: 70px;
            cursor: pointer;
        }

        .icon-1 {
            top: 60%;
            left: 13%;
            transform: translate(-50%, -50%);
        }

        .icon-2 {
            top: 40%;
            left: 20%;
            transform: translate(-50%, -50%);
        }

        .icon-3 {
            top: 30%;
            left: 30%;
            transform: translate(-50%, -50%);
        }

        .icon-4 {
            top: 20%;
            left: 40%;
            transform: translate(-50%, -50%);
        }

        .icon-5 {
            top: 15%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .icon-6 {
            top: 20%;
            left: 60%;
            transform: translate(-50%, -50%);
        }

        .icon-7 {
            top: 30%;
            left: 70%;
            transform: translate(-50%, -50%);
        }

        .icon-8 {
            top: 40%;
            left: 80%;
            transform: translate(-50%, -50%);
        }

        .icon-9 {
            top: 60%;
            left: 87%;
            transform: translate(-50%, -50%);
        }
    </style>
{% endblock %}
