.footer {
    background-color: #1c1c1e;
    color: #8e8e93;
    padding: 40px 0;
}

.footer a {
    color: #8e8e93;
    text-decoration: none;
}

.footer a:hover {
    color: #ffffff;
}

.footer h5 {
    color: #8e8e93;
    font-weight: bold;
}


body {
    background-color: #fdfffc;
}

.btn-primary {
    background-color: #f77f00 !important;
    border-color: #f77f00 !important;
}

.btn-primary:hover {
    background-color: #d62828 !important;
    border-color: #d62828 !important;
}

.orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.earth {
    color: #b4d78a;
}

.sos {
    color: #e28087;
}